html{
    font-size: 10px;
    
}

body{
    
    padding: 5%;
    font-size: 2.5rem;
    background-color:rgb(97, 63, 44);
}
.match-form{
    max-width: 50rem;
    min-width: 50rem;
}
div{
    width:380px ;
    margin: 0 auto;
}
form{
    position: relative;
   
    border-radius: 20%;
    padding: 10px 25px;
    border: 1rem inset rgb(95, 75, 10);
    background-color: rgb(238, 205, 162);
   
}

label+input[type="text"]{
    display: inline-blok ;
}
textarea{
    display: block;
    background-color: rgb(252, 247, 229);
}

.buttonandtext{
    display:inline-block;
}




