html{
    font-size: 10px;
    
}

body{
    
    padding: 5%;
    font-size: 2.5rem;
    background-color:0;
}
.match-form{
    max-width: 50rem;
    min-width: 50rem;
}
form{
    position: relative;
   
    margin: 0 auto;
    padding: 10px 25px;
    border: 1rem inset rgb(95, 75, 10);
    background-color: rgb(163, 99, 15);
   
}

label+input[type="text"]{
    display: inline-block ;
}
textarea{
    display: block;
    background-color: rgb(252, 247, 229);
}

.buttonandtext{
    display:inline-block;
}




