html{
    font-size: 10px;
    box-sizing: border-box;
}

body{
    text-align: center;
    padding: 5%;
    font-size: 2.5rem;
    background-color:rgb(206, 229, 208);
}
.match-form{
    max-width: 50rem;
    min-width: 50rem;
}
div.content{
    width:640px ;
    margin: 0 auto;
    background-color:rgb(255, 120, 120);
    border-radius: 20px;
     border: 0.5rem solid  rgb(243, 240, 215); 
}
form{
    position: relative;
    border-radius: 15px 15px 0 0;
    padding: 10px 25px;
    background-color:rgb(224, 192, 151);
    
}

label+input[type="text"]{
    display: inline-blok ;
}
textarea{
    display: block;
    background-color: rgb(252, 247, 229);
}

.buttonAndText{
    display:inline-block;
    width: 100%;
}

.black{
    background-color:black;
    color:white;
}
.white{
    background-color:whitesmoke;
}
table{
    margin: 0 auto;
    width:64rem;
    height:64rem;
    
   
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

td{
    height: 8rem;
    width:8rem;
}
